site_name: Robbuffet
site_description: Conformal prediction and robust decision-making toolkit
repo_url: https://github.com/yashpatel5400/robbuffet
theme:
  name: material
  features:
    - navigation.expand
    - navigation.sections
    - content.code.copy
    - content.action.edit
nav:
  - Home: index.md
  - Quickstart: quickstart.md
  - Examples: examples.md
  - Concepts: concepts.md
  - API: api.md
  - Contributing: contributing.md
  - Publishing: publishing.md
  - Changelog: changelog.md
markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.arithmatex:
      generic: true
extra_javascript:
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
extra_css:
  - css/custom.css
